* {
    font-family: 'Montserrat', sans-serif;
}

/* a Tag Selector */
a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

.ProfilePicture-Styling{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

/* ================================================== Base Container ==================================================*/
/* 
Row 1: Profile
Row 2: NavBar ScrollWheel
Row 3: Content 
*/
.Base-Container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
}

/* Base Container ==================================================*/ 
.grid-container-profile{
    /* background-image: url("../images/ProfileWallpaper.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-row: 1 / span 1;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: rgb(185, 185, 185);
}

/* Base Container ==================================================*/ 
.grid-container-profile-Navigation{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row: 1 / span 1;
    grid-column: 1/ span 1;
}

.grid-item-profile-Hamburger{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    place-self: center;

    font-size: 1.5vw;
    padding: 10px;
}

.grid-item-profile-Gear{
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    place-self: center;

    font-size: 1.5vw;
    padding: 10px;
}

/* Base Container ==================================================*/ 
.grid-container-profile-div{
    /* padding: 15vw; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-row: 2 / span 1;
    
    /* backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1); */

    /* background-color: rgb(194, 64, 64); */
}

.grid-item-profile-a{
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    place-self: center;
}

.grid-item-profile-profilePicture{
    grid-column: 1 / span 1;
    margin: 20px;
}

.grid-item-profile-profileName{
    grid-column: 2 /span 1;
    justify-self: start;
    align-self: center;

    font-size: 2vw;
    color: white;
}

.grid-item-profile-profilePicture{
    border-radius: 50%;
    width: 10vw;
    height: auto;
    overflow: none;
}

/* Grid Container ================================================== */
.grid-container-navBar-scrollBar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row: 2 / span 1;
    place-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5vw;

    /* background-color:rgb(194, 194, 194); */
}

#grid-item-navbar-scrollBar-Edit{

    place-self: center;
    color: rgb(91, 72, 199);
    grid-column: 4 / span 1;
}

/* Grid Container ================================================== */
.grid-container-profilecontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    grid-row: 3 / span 1;
    align-self: center;
    place-items: center;
    padding: 20px;
    /* background-color: yellowgreen; */
    font-size: 1.5vw;
}

.grid-item-profilecontent-name{
    grid-column: 1 / span 1;
    grid-row: 1 /span 1;
}

.grid-item-profilecontent-name-entry{
    grid-column: 2 / span 1;
    grid-row: 1 /span 1;
}

.grid-item-profilecontent-DOB{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.grid-item-profilecontent-DOB-entry{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

@media only screen and (max-width: 700px){
    
    .grid-item-profile-Hamburger{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        place-self: center;
    
        font-size: 3vw;
        padding: 10px;
    }
    
    .grid-item-profile-Gear{
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
        place-self: center;
    
        font-size: 3vw;
        padding: 10px;
    }

    .grid-container-profile-div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .35fr;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        /* backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.1); */
    
        background-color: rgb(185, 185, 185);
    }

    .grid-item-profile-profilePicture{
        border-radius: 50%;
        place-self: center;
        width: 20vw;
        height: auto;
        overflow: none;
        /* background-color: blue; */
    }

    .grid-item-profile-profileName{
        grid-row: 2 /span 1;
        grid-column: 1 / span 1;
        justify-self: center;
        align-self: start;
        margin-top: -5px;
    
        font-size: 4vw;
        /* background-color: aqua; */
    }

    /* Grid Container ================================================== */
    .grid-container-navBar-scrollBar{
        font-size: 3vw;
    }

    /* Grid Container ================================================== */
    .grid-container-profilecontent{
        font-size: 3vw;
    }

}
