* {
    font-family: 'Montserrat', sans-serif;
}

.base-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-container-PieChart{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    place-self: center;
}